@import "@abgov/web-components/index.css";

:root {
  --goa-animation-timing: 700ms;
  --goa-animation-slide-in: 12px;
  --goa-animation-slide-out: -12px;
  --goa-animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

body {
  view-transition-name: content;
}

.header {
   animation: fade-in var(--goa-animation-timing) var(--goa-animation-timing-function) forwards;
} 

.footer {
   animation: fade-in var(--goa-animation-timing) var(--goa-animation-timing-function) forwards;
}

.main-content {
    padding-left: 4rem;
    padding-top: 16px;
    view-transition-name: main-content;
    animation: slide-in var(--goa-animation-timing) var(--goa-animation-timing-function) forwards;
}

p.small {
    margin-left: var(--goa-space-xl);
    margin-top: var(--goa-space-2xs);
    font-size: var(--goa-typography-body-s);
    color: var(--goa-color-text-secondary);
}

div.warning {
    width: 22rem;
}

@view-transition {
  navigation: auto;
}

::view-transition-old(main-content) {
  animation: slide-out var(--goa-animation-timing) var(--goa-animation-timing-function) forwards;
}

::view-transition-new(main-content) {
  animation: slide-in var(--goa-animation-timing) var(--goa-animation-timing-function) forwards;
}

@media (prefers-reduced-motion: reduce) {
  .main-content {
    animation: fade-in var(--goa-animation-timing) var(--goa-animation-timing-function) forwards;
  }

  ::view-transition-old(main-content) {
    animation: fade-out var(--goa-animation-timing) var(--goa-animation-timing-function) forwards;
  }

  ::view-transition-new(main-content) {
    animation: fade-in var(--goa-animation-timing) var(--goa-animation-timing-function) forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;    
    transform: translateY(var(--goa-animation-slide-in));
  }

  50% {
    opacity: 0;    
    transform: translateY(var(--goa-animation-slide-in));
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }

  50% {
    opacity: 0;
    transform: translateY(var(--goa-animation-slide-out));
  }

  100% {
    opacity: 0;
    transform: translateY(var(--goa-animation-slide-out));
  }

}