@import "@abgov/web-components/index.css";

body {
  view-transition-name: content;;
}

.header {
   animation: fade-in 400ms cubic-bezier(0, 0, 0.58, 1) forwards;
} 

.footer {
   animation: fade-in 400ms cubic-bezier(0, 0, 0.58, 1) forwards;
}

.main-content {
    padding-left: 4rem;
    padding-top: 16px;
    view-transition-name: main-content;
    animation: slide-in 400ms cubic-bezier(0, 0, 0.58, 1) forwards;
}

p.small {
    margin-left: var(--goa-space-xl);
    margin-top: var(--goa-space-2xs);
    font-size: var(--goa-typography-body-s);
    color: var(--goa-color-text-secondary);
}
div.warning {
    width: 22rem;
}

@view-transition {
  navigation: auto;
}

::view-transition-old(main-content) {
  animation: slide-out 400ms cubic-bezier(0, 0, 0.58, 1) forwards;
}

::view-transition-new(main-content) {
  animation: slide-in 400ms cubic-bezier(0, 0, 0.58, 1) forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;    
    transform: translateY(12px);
  }

  50% {
    opacity: 0;    
    transform: translateY(12px);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }

  50% {
    opacity: 0;
    transform: translateY(-12px);
  }

  100% {
    opacity: 0;
    transform: translateY(-12px);
  }

}